@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0e6d2; /* Light tan */
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button {
    background: lightpink;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
	margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #ff4081, #008CBA);
    transform: scale(1.05);
}
